# local env & VCS
venv/
.git/
.gitignore
**/__pycache__/
*.pyc

# big / not needed at build time
lerobot/tests/
lerobot/docs/
lerobot/media/
lekiwi/3DPrintMeshes/
lekiwi/media/

# OS cruft
.DS_Store

# Keep healthcheck in the build context
!docker/
!docker/**